#container {
  /*position: relative; */
 
}

head {
  color: pink;
}
#banner { 
  width: 100%;  height: 120px; 
  font-size: 50px;  
  border-bottom: 4px solid dimgray;
  background-color: powderblue;
  }
#banner2 { 
  width: 100%;  height: 120px; 
  font-size: 40px;  
  border-bottom: 4px solid dimgray;

  }
input[type=button] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text], input[type=password] {
  border: 2px solid teal;
  border-radius: 4px;
}
#nav {
  position: absolute;
  left: 0px;
  width: 170px; 
  height:500px;
  border-right: 4px solid dimgray;
  background-color: mistyrose;
}
#section {
  /* position is static by default */
  margin-left: 220px;
  width: 720px;
color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 27px;
}
#section2 {
margin-left: 320px;
  width: 720px;
  /* position is static by default */
color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 17px;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  border-top: 4px solid dimgray;
}
#body {
  margin-bottom: 120px;
}
p.remark {
  border: 2px solid dimgray;
  padding: 4px;
  margin-left: 24px;
}
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

